<mat-card>
    <mat-card-title>
        The very best in auto rentals
    </mat-card-title>
    <mat-card-subtitle>
        established 2019
    </mat-card-subtitle>
    <img class="image-size" mat-card-image src="../assets/car-park.jpeg" alt="vertical car park">
    <mat-card-content>
        <p>Lorem ipsum dolor amet scenester shaman man bun, flexitarian snackwave trust fund pabst la croix keytar venmo brunch palo santo yr hell of heirloom. Kickstarter hoodie +1 squid small batch readymade keffiyeh vape poutine humblebrag meh photo booth fingerstache poke flannel. Fam disrupt celiac food truck. Prism microdosing snackwave salvia 3 wolf moon, cornhole subway tile bitters godard adaptogen. Iceland paleo kombucha seitan taiyaki flannel, pop-up letterpress ugh fashion axe vinyl.</p>
        <p>Venmo taxidermy kickstarter, cronut helvetica vexillologist live-edge kale chips hoodie viral hella paleo. Vinyl mixtape mlkshk leggings banh mi shaman beard keytar +1 heirloom chillwave. Flannel man braid wayfarers bitters umami poutine quinoa hashtag shoreditch fam prism unicorn kogi vinyl. Prism tousled kombucha austin succulents chambray, lo-fi gentrify try-hard neutra ethical polaroid tumeric. Adaptogen distillery air plant you probably haven't heard of them blue bottle vinyl. Adaptogen cred prism organic lomo microdosing, twee raw denim echo park man bun. Ramps blue bottle chicharrones 90's ennui skateboard enamel pin actually polaroid cred hella keytar pop-up retro poutine.
        </p>
    </mat-card-content>
</mat-card>