<mat-card>
    <mat-card-title>
        {{car.make}} {{car.model}} - {{car.year}}
    </mat-card-title>
    <mat-card-subtitle>
        {{car.color}}
    </mat-card-subtitle>
    <img *ngIf="car.img_src" class="image-size" mat-card-image src="{{car.img_src}}" alt="car image">
    <img *ngIf="!car.img_src" class="image-size" mat-card-image src="asset/no-image.jpeg" alt="no image">
    <mat-card-content>
        <span *ngIf="car.available">Available Now!</span>
        <span *ngIf="!car.available">Unavailable</span>
        Seats: {{car.seats}}
        Doors: {{car.doors}}
    </mat-card-content>
</mat-card>

